# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Dependencies
node_modules/

# Android & iOS builds
android/
ios/

# Environment
.env
.env.local
.env.production

# Build output
build/

# Metro
.metro-health-check*

# macOS
.DS_Store

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# Native signing
*.jks
*.p8
*.p12
*.key
*.mobileprovision